*
{
    margin: 0;
    padding: 0;
    
}

.coll
{
    width: 14vw;
    height: 100vh;
    justify-content:space-around;
    position: absolute;
    margin-left: 1rem;
    margin-top: 1rem;
    /* border: 1px solid gainsboro; */
    line-height: 2.5rem;
}

.coll div:hover{
    background-color: rgb(23 37 84);
    color: white;
}

@media (max-width:780px)
{
    .coll{
        width: 35%;
    }
}